.hero {
  background-color: $pink;
  padding-top: toRem(125);
  @include adaptiveValue("padding-bottom", 100, 40);
  @media (min-width:$mobile){
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  // .hero__container
  &__container {
    display: grid;
    @media (min-width:em(1024.98)){
      grid-template-columns: 50% auto;
    }
    @media (max-width: em(1024.98)) and (min-width: $mobile){
      grid-template-columns: 60% auto;
    }
    @media (min-width:$mobile){
      align-items: center;
    }
    @media (max-width:$mobile){
      position: relative;
      z-index: 0;
    }
  }
  // .hero__main
  &__main {
  }
  // .hero__title
  &__title {
    @include adaptiveValue("font-size", 96, 53);
    font-weight: 800;
    line-height: normal;
    @media (min-width:$mobile){
       margin-bottom: toRem(11); 
    }
    @media (max-width:$mobile){
       text-align: center; 
    }
  }
  // .hero__sub-title
  &__sub-title {
    font-size: 26px;
    line-height: normal;
    @include adaptiveValue("margin-bottom", 37, 24,0,$containerWidth,480);
    @media (min-width:$mobileSmall){
       font-weight: 400; 
    }
    @media (max-width:$mobileSmall){
       font-weight: 700; 
    }
    span {
      font-weight: 700;
    }
  }
  // .hero__txt
  &__txt {
    font-weight: 400;
    line-height: normal;
    @include adaptiveValue("margin-bottom", 42, 30,0,$containerWidth,480);
    .mark-txt {
      border-radius: toRem(6) toRem(6) toRem(6) toRem(0);
      padding: 0 toRem(3) toRem(3) toRem(3);
      line-height: 1;
      background: $yellow;
    }
  }
  // .hero__footer
  &__footer {
    @media (min-width:$mobile){
      position: relative;
      &::after {
        content:'';
        background-image: url(../img/icon/arrow.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        display: block;
        width: 15%;
        height: 100%;
        position: absolute;
        top: 50%;
        right: -19%;
        transform: translate(0, -50%) scaleX(-1);
      }
    
    }
    @media (min-width:$mobile){
      max-width: toRem(340);
    }
    @media (max-width:$mobile) and (min-width: $mobileSmall){
        display: flex;
        justify-content: center;
    }
  }
  // .hero__button
  &__button {
  }
  // .hero__btn-txt
  &__btn-txt {
    @media (min-width:$mobile){
      margin-top: toRem(20);
      text-align: center;
      font-size: toRem(12);
      font-weight: 400;
      line-height: normal;
    }
    @media (max-width:$mobile){
       display: none; 
    }
  }
  // .hero__img
  &__img {
    @media (max-width:$mobile) and (min-width: em(480)){
      text-align: center;
    }
    img {
      max-width: 100%;
      width: 100%;
      @media (max-width:$mobile){
         position: relative;
         top: toRem(-25);
         z-index: -1; 
      }
      @media (max-width:$mobile) and (min-width: em(480)){
          max-width: 60%;
      }
    }
  }
}

// ===============================
.about {
  background-color: $blue;
  background-image: url(../img/icon/line.svg);
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width:$mobile){
    background-size: contain;
  }
  @media (max-width:$mobile){
     background-size: cover; 
  }
  // .about__container
  &__container {
    // position: relative;
    // z-index: 1;
    @media (min-width:$mobile){
       display: flex;
       justify-content: center; 
    }
  }
  // .about__body
  &__body {
    @media (min-width:$mobile){
      max-width: toRem(700);
    }
    @media (min-width:$mobileSmall){
       display: flex;
       flex-direction: column;
       align-items: center;
    }
  }
  // .about__title
  &__title {
  }
  // .about__link
  &__link {
    overflow: hidden;
    position: relative;
    max-width: toRem(700);
    width: 100%;
    iframe {
      background-color: #000;
      width: 100%;
      border-radius: toRem(20);
      border: toRem(2) solid #000;
      @media (min-width:$mobileSmall){
        min-height: toRem(392);
      }
      @media (max-width:$mobileSmall){
         height: 250px; 
      }
    }
    @media (any-hover: hover){
      &:hover{
        .link-about__poster {
          transform: scale(1.1);
        } 
        .link-about__play {
          rect {
            fill: #000;
          }
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  // .about__txt
  &__txt {
    font-weight: 400;
    line-height: normal;
    font-size: toRem(16);
    text-align: center;
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  // .about__button
  &__button {
    @media (min-width:$mobileSmall){
       min-width: toRem(340); 
    }
  }
}

// .link-about {
//   // .link-about__play
//   &__play {
//     position: absolute;
//     z-index: 1;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     pointer-events: none;
//     @media (max-width:$mobileSmall){
//        width: toRem(80); 
//        height: toRem(80); 
//     }
//     rect {
//       transition: fill .3s;
//     }
//   }
// }

// ===============================
.wants {
  // .wants__container
  &__container {
  }
  // .wants__title
  &__title {
  }
  // .wants__list
  &__list {
    display: grid;
    gap: toRem(20);
    @media (min-width:$mobile){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width:$mobile) and (min-width: $mobileSmall){
       grid-template-columns: repeat(2, 1fr); 
       justify-items: center; 
    }
    @media (max-width:$mobile){
    }
  }
  // .wants__item
  &__item {
    &:nth-child(3) {
      @media (max-width:$mobile) and (min-width: $mobileSmall){
         grid-column-start: 1; 
         grid-column-end: 3; 
         width: 50%;
      }
    }
  }
  // .wants__image
  &__image {
    max-width: 100%;
    @include adaptiveValue("margin-bottom", 30, 20,0,$containerWidth,480);
  }
  // .wants__txt
  &__txt {
    font-weight: 400;
    line-height: normal;
    text-align: center;
    @media (min-width:$mobile){
      max-width: 90%;
      margin: 0 auto;
    }
  span {
    font-weight: 700;
  }
  }
}

// ===============================
.space {
  background-color: #000;
  background-image: url(../img/stars-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
		// .space__container
		&__container {
		}
		// .space__title
		&__title {
      color: #fff;
      @media (min-width:$mobile){
         max-width: toRem(700); 
         margin-left: auto;
         margin-right: auto;
      }
		}
		// .space__body
		&__body {
		}
		// .space__center
		&__center {
		}
		// .space__footer
		&__footer {
		}
		// .space__btn-action
		&__btn-action {
		}
}

.list-space {
  position: relative;
  z-index: 5;
  display: grid;
  gap: toRem(20);
  @media (min-width:em(550.98)){
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: em(550.98)){
      grid-template-columns: repeat(2, 1fr);
  }
		// .list-space__item
		&__item {
      position: relative;
      &.item-top {
        @media (min-width:em(550.98)){
          &:nth-child(1) {
            top: 109px;
          }
          &:nth-child(2) {
            top: 29px;
          }
          &:nth-child(3) {
            top: 10px;
          }
          &:nth-child(4) {
            top: 19px;
          }
        }
      }
      &.item-bottom {
        @media (min-width:em(550.98)){
          &:nth-child(1) {
            top: -21px;
          }
          &:nth-child(2) {
  
          }
          &:nth-child(3) {
            top: -10px;
          }
          &:nth-child(4) {
            top: -87px;
          }
        }
      }
		}
		// .list-space__image
		&__image {
      position: relative;
      text-align: center;
      img {
        border-radius: 50%;
        border: toRem(1) solid #D694FF;
        opacity: 0.6;
        background-image: linear-gradient(180deg, rgba(214, 148, 255, 0.40) 0%, rgba(214, 148, 255, 0.00) 100%);
        backdrop-filter: blur(25px);
        @media (min-width:$mobile){
          max-width: 100%;
        }
        @media (max-width:$mobile){
           max-width: 70%; 
        }
      }
		}
		// .list-space__num
		&__num {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);
      color: #EFD4FF;
      text-shadow: 0px 4px 35px rgba(239, 212, 255, 0.90);
      @include adaptiveValue("font-size", 64, 40);
      font-weight: 700;
		}
		// .list-space__txt
		&__txt {
      position: relative;
      top: toRem(-44);
      color: #fff;
      text-align: center;
      @include adaptiveValue("font-size", 18, 14,0,$containerWidth,480);
      line-height: normal;
      @media (max-width:$mobile){
         top: -30px; 
      }
      @media (max-width: em(550.98)){
          top: -35px;
      }
      span {
        font-weight: 700;
      }
		}
}

.center-space {
  position: relative;
  top: -11px;
  z-index: 4;
  @media (max-width: em(550.98)){
      margin: toRem(50) 0;
  }
		// .center-space__planet
		&__planet {
      position: relative;
      z-index: 2;
      margin: 0 auto;
      width: fit-content;
      img {
        position: relative;
        z-index: 2;
        @media (min-width:$mobileSmall){
          max-width: toRem(227);
        }
        @media (max-width:$mobileSmall){
           max-width: toRem(176); 
        }
      }
      &::before,
      &::after {
        content:'';
        display: block;
        position: absolute;
        border-radius: 50%;
        opacity: 0.6;
      }
      &::before {
        z-index: 0;
        inset: 0;
        background-image: linear-gradient(180deg, rgba(128, 210, 255, 0.40) 0%, rgba(128, 210, 255, 0.00) 100%);
        filter: blur(35px);
      }
      &::after {
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200%;
        height: 200%;

        background-color: #D694FF;
        filter: blur(165px);
        @media (max-width:$mobileSmall){
          width: 300%;
          height: 300%;
        }
      }
		}
		// .center-space__circles
		&__circles {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 110%;
      @media (max-width:$mobile){
        transform: translate(-50%, -42%);
      }
		}
		// .center-space__list
		&__list {
      position: absolute;
      z-index: 4;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      @media (min-width:em(550.98)){
        display: flex;
        justify-content: space-around;
      }
      @media (max-width: em(550.98)){
        display: grid;
        grid-template-columns: repeat(3, 1fr);   
        justify-items: center;
      }
      @media (max-width: em(550.98)) and (min-width:$mobileSmall){
        max-width: 68%;       
        height: toRem(280);
      }
      @media (max-width:$mobileSmall){
         width: toRem(243); 
         height: toRem(243);
      }
		}
		// .center-space__item
		&__item {
      position: relative;
      img {
        @include adaptiveValue("width", 80, 62,0,$containerWidth,480);
      }
      &:nth-child(1) {
          @media (min-width:em(550.98)){
            top: 50px;
          }
          @media (max-width: em(550.98)){
              align-self: center;
              top: 16px; 
          }
        }
        &:nth-child(2) {
          @media (min-width:em(550.98)){
            top: 63px;
          }
        }
        &:nth-child(3) {
          @media (min-width:em(550.98)){
            top: 55px;
          }
          @media (max-width: em(550.98)){
            align-self: center;
            top: 16px; 
          }
        }
        &:nth-child(4) {
          @media (min-width:em(550.98)){
            top: 36px;
          }
          @media (max-width: em(550.98)){
            align-self: center;
            top: -16px; 
          }
        }
        &:nth-child(5) {
          @media (min-width:em(550.98)){
            top: 16px;
          }
          @media (max-width: em(550.98)){
            align-self: end;
          }
        }
        &:nth-child(6) {
          @media (min-width:em(550.98)){
            top: -31px; 
          }
          @media (max-width: em(550.98)){
            align-self: center;
            top: -16px; 
          }
        }
      }
}

// ===============================
.levels {
  background-image: url(../img/icon/line-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-width:em(650.98)) {
    background-position: center 88%;
  }
  @media (max-width: em(650.98)){
    background-position: center 93%;
  }
  // .levels__container
  &__container {
  }
  // .levels__title
  &__title {
  }
  // .levels__body
  &__body {
    max-width: toRem(976);
    margin: 0 auto toRem(50);
    display: grid;
    @include adaptiveValue("gap", 62, 30,0,$containerWidth,768.98);
    @media (min-width: em(650.98)){
      grid-template-columns: 49.4% 1fr;
    }
  }
  // .levels__circle
  &__circle {
    @media (max-width: em(950.98)) and (min-width:em(650.98)){
      display: flex;
      flex-direction: column;
      justify-content: center; 
    }
    img {
      width: 100%;
      // @media (max-width:$mobileSmall){
      //    width: 150%; 
      //    position: relative;
      //    left: 50%;
      //    transform: translateX(-50%);
      // }
    }
  }
  // .levels__list
  &__list {
  }
  // .levels__item
  &__item {
    border-radius: toRem(20);
    border: toRem(2) solid transparent;
    font-weight: 400;
    line-height: normal;
    &:nth-child(1) {
      background-color: #EFD4FF;
      border-color: #D99BFF;
      box-shadow: 0px 0px 14px 0px #E9C6FF;
      .levels__item-top {
        border-color: #D99BFF;
        &::before {
          background-color: #D99BFF;
        }
      }
      .levels__line {
        @media (min-width:em( 950.98)){
          left: toRem(-151);
          transform: translate(0, -36%);
          width: toRem(143);
        }
      }
    }
    &:nth-child(2) {
      background-color: #CCFFAB;
      border-color: #A8F976;
      box-shadow: 0px 0px 14px 0px #C4FF9D;
      .levels__item-top {
        border-color: #A8F976;
        &::before {
          background-color: #A8F976;
        }
      }
      .levels__line {
        @media (min-width:em(950.98)){
          left: toRem(-122);
          transform: translate(0, -2%);
          width: toRem(118);
        }
      }
    }
    &:nth-child(3) {
      background-color: $blue;
      border-color: #80D2FF;
      box-shadow: 0px 0px 14px 0px #BFE9FF;
      .levels__item-top {
        border-color: #80D2FF;
        &::before {
          background-color: #80D2FF;
        }
      }
      .levels__line {
        @media (min-width:em(950.98)){
          left: toRem(-216);
          transform: translate(0, -24%);
          width: toRem(210);
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  // .levels__item-top
  &__item-top {
    border-radius: toRem(20);
    background-color: #fff;
    border: toRem(2) solid transparent;
    margin: toRem(-2) toRem(-2) toRem(10);
    position: relative;
    &::before {
      content:'';
      position: absolute;
      z-index: 2;
      border-radius: 50%;
      flex: 0 0 auto;
      @media (min-width:em(650.98)){
        top: 50%;
        left: toRem(-11);
        transform: translate(0, -50%);
      }
      @media (max-width: em(650.98)){
        top: toRem(-10);
        left: 50%;
        transform: translate(-50%, 0);
      }
      @media (min-width:$mobileSmall){
        width: toRem(20);
        height: toRem(20); 
      }
      @media (max-width:$mobileSmall){
         width: toRem(16);
         height: toRem(16); 
      }
    }
    @media (min-width:$mobileSmall){
       padding: toRem(15) toRem(15) toRem(15) toRem(20); 
    }
    @media (max-width:$mobileSmall){
      padding: toRem(15); 
    }
    @include adaptiveValue("font-size", 20, 16,0,$containerWidth,480);
  }
  // .levels__sub-title
  &__sub-title {
  }
  // .levels__line
  &__line {
    @media (min-width:em(950.98)){
      position: absolute;
      z-index: 1;
      top: 50%;
    }
    @media (max-width: em(950.98)){
        display: none;
    }
  }
  // .levels__item-btm
  &__item-btm {
    @media (min-width:$mobileSmall){
      padding: 0 toRem(20) toRem(15); 
   }
   @media (max-width:$mobileSmall){
     padding: 0 toRem(15) toRem(15); 
   }
  }
  // .levels__sub-txt
  &__sub-txt {
    @include adaptiveValue("font-size", 16, 14,0,$containerWidth,480);
  }
  // .levels__block
  &__block {
    border-radius: toRem(20);
    border: toRem(2) solid #000;
    background: #FFF95D;
    @media (min-width:$mobileSmall){
       padding: toRem(20); 
    }
    @media (max-width:$mobileSmall){
       padding: toRem(10); 
    }
  }
  // .levels__txt-b
  &__txt-b {
    @include adaptiveValue("font-size", 20, 16,0,$containerWidth,480);
    line-height: normal;
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }
}

// ===============================
.testimonials {
  background-color: $blue;
  // .testimonials__container
  &__container {
  }
  // .testimonials__title
  &__title {
  }
  // .testimonials__list
  &__list {
    display: grid;
    gap: toRem(20);
    margin-bottom: toRem(50);
    @media (min-width:em(650.98)){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: em(650.98)) and (min-width: $mobileSmall){
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
    @media (max-width:$mobileSmall){
       gap: toRem(50); 
    }
  }
  // .testimonials__item
  &__item {
    blockquote {
      padding: toRem(20) toRem(20) 0;
    }
    blockquote,
    cite {
      font-style: normal;
    }
    p {
      margin-bottom: toRem(20);
    }
    &:nth-child(3) {
      @media (max-width: em(650.98)) and (min-width: $mobileSmall) {
          grid-column: 1/3;
          width: 50%;
      }
    }
  }
  // .testimonials__video
  &__video {
  }
  // .testimonials__btn-action
  &__btn-action {
    .btn-action__txt {
      max-width: toRem(240);
      margin: 0 auto;
    }
  }
}

.video {
  border-radius: toRem(20);
  border: toRem(2) solid #000;
  background-color: #fff;
  // .video__item
  &__item {
    overflow: hidden;
    margin: toRem(-2) toRem(-2) 0;
    position: relative;
    cursor: pointer;
    @media (any-hover: hover){
      &:hover{
        .video__play {
          transform: translate(-50%, -50%) scale(1.2);
        }
      }
    }
  }
	// .video__video
	&__video {
    border-radius: toRem(20);
    border: toRem(2) solid #000;
    @media (min-width:$mobileSmall){
      aspect-ratio: 340 / 500;
    }
    @media (max-width:$mobileSmall){
       aspect-ratio: 350/500;
    }
	}
	// .video__play
	&__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: transform .3s ease-in-out, opacity .3s;
    .active & {
      opacity: 0;
    }
	}
  // .video__title
  &__title {
    font-size: toRem(22);
    font-weight: 700;
    padding: toRem(15) toRem(20) toRem(20);
  }
	// .video__progress
	&__progress {
    width: 90%;
    height: 5px;
    background-color: rgba(204, 204, 204);
    position: absolute;
    border-radius: toRem(6);
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    bottom: toRem(20);
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
    .active & {
      opacity: 1;
    }
	}
	// .video__progress-bar
	&__progress-bar {
    height: 100%;
    width: 0;
    background-color: #8f8e8e;
    position: absolute;
	}
}

// ===============================
.how {
  background-color: $pink;
  // .how__container
  &__container {
  }
  // .how__title
  &__title {
  }
  // .how__list
  &__list {
    &:not(:last-child) {
      margin-bottom: toRem(30);
    }
  }
  // .how__item
  &__item {
    border-radius: toRem(20);
    overflow: hidden;
    border: 2px solid #000;
    background-color: #FFF;
    display: grid;
    @media (min-width:em(550.98)){
      grid-template-columns: 1fr 40%;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20,0,$containerWidth,480);
    }
    &:nth-child(1) {
      .how__main {
        @media (min-width:$mobileSmall){
           max-width: toRem(340); 
        }
      }
    }
  }
  // .how__body
  &__body {
    display: flex;
    @include adaptiveValue("padding", 30, 20,0,$containerWidth,480);
    @include adaptiveValue("gap", 20, 10,0,$containerWidth,480);
  }
  // .how__col
  &__col {
  }
  // .how__num
  &__num {
    @include adaptiveValue("width", 70, 50,0,$containerWidth,480);
    @include adaptiveValue("height", 70, 50,0,$containerWidth,480);
    border-radius: 16px;
    border: 2px solid #000;
    background-color: $yellow;
    @include adaptiveValue("font-size", 30, 18,0,$containerWidth,480);
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .how__main
  &__main {
  }
	// .how__sub-title
	&__sub-title {
    font-weight: 700;
    line-height: normal;
    @include adaptiveValue("font-size", 30, 18,0,$containerWidth,480);
    @include adaptiveValue("margin-bottom", 20, 10,0,$containerWidth,480);
	}
  // .how__txt
  &__txt {
    @include adaptiveValue("font-size", 20, 14,0,$containerWidth,480);
    font-weight: 400;
    line-height: normal;
  }
	// .how__image
	&__image {
    border-radius: toRem(20);
    border:toRem(2) solid #000;
    overflow: hidden;
    @media (min-width:em(550.98)){
      margin: -2px -2px -2px 2px;
    }
    @media (max-width: em(550.98)){
        margin: 0 toRem(20) toRem(20) toRem(20);
    }
	}
  // .how__img
  &__img {
    aspect-ratio: 430 / 260;
  }
  // .how__btn-action
  &__btn-action {
  }
}

// ===============================
.form {
  background-color: $yellow;
  background-image: url(../img/icon/line.svg);
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width:$mobile){
    background-size: contain;
  }
  @media (max-width:$mobile){
     background-size: cover; 
  }
  // .form__container
  &__container {
  }
  // .form__title
  &__title {
  }
  // .form__body
  &__body {
    display: grid;
    gap: toRem(10);
    @media (min-width:$mobile){
      max-width: toRem(700);
        margin: 0 auto;
    }

  }
  // .form__item
  &__item {
  }
  // .form__input
  &__input {
  }
  // .form__items
  &__items {
    display: grid;
    @media (min-width:em(550.98)){
      grid-template-columns: repeat(2, 1fr);
    }
    gap: toRem(10);
  }
  // .form__btn-action
  &__btn-action {
    width: 100%;
    max-width: 100% !important;
    .btn-action__btn {
      width: 100%;
    }
    .btn-action__arrow {
      @media (max-width: em(900.98)){
          display: none;
      }
    }
    .btn-action__txt {
      font-size: toRem(16);
    }
  }
}


//<INPUT>
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: toRem(20);
	width: 100%;
	display: block;
	padding: 0 toRem(30);
	border: toRem(2) solid #000;
  outline: none;
  height: toRem(70);
  font-size: toRem(16);
  font-weight: 700;
  line-height: normal;
	&._form-focus {
	}
	&._form-error {
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

.form__error {
  font-size: toRem(16);
  color: red;
}

// =========================================
.thanks-page {
  .page {
    display: flex;
    flex-direction: column;
  }
}
.thanks {
  background-color: $pink;
  flex: 1;
  padding-top: toRem(125);
  display: flex;
  align-items: center;
  // .thanks__container
  &__container {
    padding-bottom: toRem(50);
  }
	// .thanks__body
	&__body {
    @media (min-width:$mobile){
       max-width: toRem(700);
       margin: 0 auto; 
    }
	}
  // .thanks__title
  &__title {
  }
  // .thanks__txt
  &__txt {
    text-align: center;
    font-size: toRem(28);
    font-weight: 400;
    line-height: normal;
    margin-bottom: toRem(50);
    span {
      font-weight: 700;
    }
  }
	// .thanks__button
	&__button {
    @media (min-width:$mobile){
      position: relative;
      &::after {
        content:'';
        position: absolute;
        top: -80%;
        right: 9%;
        background-image: url(../img/icon/arrow-dwn.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        display: block;
        width: 15%;
        height: 145%;
      }
    }
	}
  // .thanks__link
  &__link {
    @media (min-width:$mobileSmall){
       max-width: toRem(340);
       margin: 0 auto; 
    }
  }
}


// === OFFER PAGE =============================
.offer {
  @include adaptiveValue("padding-top", 150, 125);
  @include adaptiveValue("padding-bottom", 125, 40);
  // .offer__container
  &__container {
  }
  // .offer__item
  &__item {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }
  // .offer__title
  &__title {
  }
  // .offer__txt
  &__txt {
    @include adaptiveValue("font-size", 18,14);
    line-height: normal;
    font-weight: 400;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  // .offer__list
  &__list {
  }
	// .offer__li
	&__li {
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
	}
}

.title-sm {
  @include adaptiveValue("font-size", 30, 24);
  font-weight: 700;
  margin-bottom: toRem(20);
}
